* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* HEADER + NAV */
.header {
    display: flex;
    position: fixed;
    z-index: 15;
    height: 100px;
    background-color: #f4f4f4; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 100%;}

a {    text-decoration: none}

ul { list-style: none;}

li { display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
    color: #dcd0c0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    }

ul li:hover {
	background-color: #c0b283;
	color: white;
	padding: 4px;}

/* MAIN */
.banner { height: 500px;
        background-image: url(https://www.detroitlabs.com/wp-content/uploads/2018/02/alfons-morales-YLSwjSy7stw-unsplash.jpg);
        background-size: cover;}

.nosotros {
    height: 300px;
    background-color: #f4f4f4;
    color: #373737;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    

}

h1 {margin-top: 3%;
    color: #c0b283;}

h1 {position: relative;
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: reverse;}

    @keyframes animacion {
        0%   { left:0px; top:0px;}
        25%  { left:200px; top:0px;}
        50%  { left:200px; top:0px;}
        75%  { left:0px; top:0px;}
        100% { left:0px; top:0px;}
      }

p   {margin: 3% 5% 3% 5%;}

/* FOOTER */
footer {display: flex;
        height: 200px;
        background-color: #dcd0c0;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #373737;
      }

.redeslogos {display: inline-block;}

.fb:hover {background-color: #c0b283;
	color: white;
	padding: 4px;}
.tw:hover {background-color: #c0b283;
	color: white;
	padding: 4px;}
.ig:hover {background-color: #c0b283;
	color: white;
	padding: 4px;}
